.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: relative;
  background-color: white;
  max-width: 440px;
  max-height: 380px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 28px 28px;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../images/Modal-Close-Button-gray.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__title {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 20px;
}

.modal__form {
  margin-right: 28px;
  max-width: 450px;
  position: relative;
}
.modal__input {
  color: rgba(0, 0, 0, 0.5);
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  outline: none;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 440px;
  margin-bottom: 5px;
}

.modal__label {
  display: flex;
  align-items: flex-start;
  color: #000;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  /* padding-bottom: 10px; */
  padding-top: 10px;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.modal__input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  padding: 10px 0;
  width: 440px;
  font-family: "Cabinet Grotesk-Bold", Arial, sans-serif;
}

.modal__error {
  color: red;
  margin-left: 10px;
}

.modal__select-weather {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  padding-top: 24px;
  margin-top: 0;
  margin-bottom: 17px;
}

.modal__radio-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.5);
  accent-color: #000;
}

.modal__radio-button {
  height: 16px;
  width: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__submit-button {
  width: 120px;
  height: 36px;
  color: #fff;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  border-radius: 4px;
  background-color: #000;
  border: 1px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.modal__submit-button:hover {
  opacity: 0.6;
}

.modal__submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  margin-left: auto;
  background-image: url(../../images/Modal-Close-Button-gray.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.modal__close-button:hover {
  opacity: 0.4;
}

.modal__title {
  font-size: large;
  margin-top: 0;
}

.register__button {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  left: 150px;
  top: 30px;
  cursor: pointer;
}
.register__button:hover {
  opacity: 0.6;
}

.login__button {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  left: 150px;
  top: 26px;
  cursor: pointer;
}

.login__button:hover {
  opacity: 0.6;
}
