.profile {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.profile__heading {
  display: flex;
  margin-top: 20px;
}

.profile__heading_user {
  display: flex;
  align-items: center;
  width: 300px;
}

.profile__avatar {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.profile__name {
  text-align: center;
  margin-left: 25px;
  font-size: 20px;
}

.profile__title {
  font-size: 20px;
}

.profile__heading_clothes {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.profile__add_new {
  margin-left: 14px;
}

.profile__add_button {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.profile__add_button:hover {
  color: rgb(0, 0, 0, 0.5);
}

.profile__content {
  display: flex;
}
